/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Main Config 1080p */

@import "~/.config/rofi/master-config.rasi" 

/* ---- Configuration ---- */
configuration {
	show-icons: true;
}

#element.normal.normal {
   background-color: #00000000;
   text-color: #ffffff;
}

#element.alternate.normal {
   background-color: #00000000;
   text-color: #ffffff;
}
